<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>title</key>
			<string>&quot;&quot;</string>
			<key>string</key>
			<string>世界が終るまでは</string>
			<key>type</key>
			<integer>6</integer>
		</dict>
		<dict>
            <key>title</key>
            <string>歌詞：</string>
			<key>string</key>
			<string>世界が終わる前に 聞かせておくれよ</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
            <key>title</key>
            <string>注釈：</string>
            <key>string</key>
            <string>在世界尽头之前告诉我</string>
            <key>type</key>
            <integer>8</integer>
		</dict>
        <dict>
            <key>title</key>
            <string>歌詞：</string>
            <key>string</key>
            <string>世界が終わるまでは 離れる事もない  .  そう願ってた 幾千の夜と  .  戻らない時だけが 何故輝いては</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>注釈：</string>
            <key>string</key>
            <string>我要走到世界尽头 . 我希望成千上万的夜晚 . 为什么只在不回来时才闪耀</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>TVXQ! </string>
            <key>type</key>
            <integer>6</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>歌詞：</string>
            <key>string</key>
            <string>どうして・・・君を好きになってしまったんだろう?</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>注釈：</string>
            <key>string</key>
            <string>为什么会喜欢上你？</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>歌詞：</string>
            <key>string</key>
            <string>どうして・・・君の手を掴み奪えなかったんだろう?</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>注釈：</string>
            <key>string</key>
            <string>为什么……你不能握住你的手？</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
	</array>
	<key>title</key>
	<string>悲しい</string>
</dict>
</plist>
