<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>title</key>
			<string>&quot;&quot;</string>
			<key>string</key>
			<string>俳句</string>
			<key>type</key>
			<integer>6</integer>
		</dict>
		<dict>
            <key>title</key>
            <string>&quot;&quot;</string>
			<key>string</key>
			<string>椿</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>8</integer>
		</dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>俳句</string>
            <key>type</key>
            <integer>6</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>&quot;&quot;</string>
            <key>string</key>
            <string>椿</string>
            <key>type</key>
            <integer>8</integer>
        </dict>
	</array>
	<key>title</key>
	<string>詩</string>
</dict>
</plist>
