<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canEdit</key>
	<false/>
	<key>content</key>
	<array>
		<dict>
			<key>contentID</key>
			<integer>2000517</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626686784.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862271&amp;Signature=QuOtXQoTszIzJtwA3wzqcnulzvA%3D</string>
			<key>modifyTime</key>
			<string>2021-07-19</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>鸡</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000513</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626686367.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862271&amp;Signature=G7ZeTJzrsKRB0dYBE74i4k33V6g%3D</string>
			<key>modifyTime</key>
			<string>2021-07-19</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>蟋蟀</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000511</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626685831.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862271&amp;Signature=J4K7rfvVEJIEelIGfUnQRAvkbFY%3D</string>
			<key>modifyTime</key>
			<string>2021-07-19</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>蜂</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000508</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626685289.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862271&amp;Signature=nooZBW7UQCkYUB%2B%2FuEONGWxzvlM%3D</string>
			<key>modifyTime</key>
			<string>2021-07-19</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>蜻蜓</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000472</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626600614.png?_=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=1tMVI6yQysP5dbU038ykggBlJic%3D</string>
			<key>modifyTime</key>
			<string>2021-07-18</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>菊</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000471</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626600264.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=HBHoKGXZvNxKVzqhLkEuwi97F7o%3D</string>
			<key>modifyTime</key>
			<string>2021-07-18</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>桂</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000462</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626599833.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=18gUfIDK1fLWCJXHj0Mpx6Lqeko%3D</string>
			<key>modifyTime</key>
			<string>2021-07-18</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>荷</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000366</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626424662.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=C%2F9BuU7iOsB64A1mZK2zKeNMzQI%3D</string>
			<key>modifyTime</key>
			<string>2021-07-16</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>杨柳</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000365</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626424041.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=wI6ePcB3Gjh5bLwQhTMUzSvDGhY%3D</string>
			<key>modifyTime</key>
			<string>2021-07-16</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>公园</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000303</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626340106.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=305JFC4I2WPQZUgxnmQIf13HOec%3D</string>
			<key>modifyTime</key>
			<string>2021-07-15</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>萤火虫</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000302</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626339568.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=yEzOewvzhDKtziT5h7Umxc%2BAwj4%3D</string>
			<key>modifyTime</key>
			<string>2021-07-15</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>五月五</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000243</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626256872.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=vYG1OrNU1NOhSfiVMxfHzilW9mI%3D</string>
			<key>modifyTime</key>
			<string>2021-07-14</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>一夕</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000242</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626256094.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=Jx9r1MvwSxEAxEUBITQv9QJN%2BT4%3D</string>
			<key>modifyTime</key>
			<string>2021-07-14</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>春日</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000155</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626166686.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=XNnYkqzr7qx0qosw8vfGubGu0vw%3D</string>
			<key>modifyTime</key>
			<string>2021-07-13</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>雷雨</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000154</integer>
			<key>cover</key>
			<string>http://_.com/users%2F16627%2Fugc%2F16627_1626166233.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=RunHdX1aKvnPzcH05iSWBNuq2i4%3D</string>
			<key>modifyTime</key>
			<string>2021-07-13</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>河边柳</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000094</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626141057.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=XJKHM2d3TT8oaYNVgwdtYAw5hjg%3D</string>
			<key>modifyTime</key>
			<string>2021-07-12</string>
			<key>playTotal</key>
			<integer>6</integer>
			<key>title</key>
			<string>春风温</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000089</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626166540.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=Nh3OGZUSNt2BJ5BH8pYNGiABlk0%3D</string>
			<key>modifyTime</key>
			<string>2021-07-12</string>
			<key>playTotal</key>
			<integer>4</integer>
			<key>title</key>
			<string>天明</string>
		</dict>
	</array>
	<key>cover</key>
	<string>http://_.com/users%2F16627%2Fugc%2F16627_1626140912.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=z%2B4lC%2BOnESbjfRyrUVcYM%2F4LpM8%3D</string>
	<key>introduction</key>
	<string>国文佳课，古典温情，
少年君子，由此启蒙。
语文太重要了！愿孩子们的文言启蒙由此开始！</string>
	<key>netname</key>
	<string>花生</string>
	<key>playTotal</key>
	<integer>28</integer>
	<key>profile_photo</key>
	<string>http://_.com/users%2F16627%2Fphoto%2F16627_1626078713.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862272&amp;Signature=eZOJseD2kNNUlJFyLslJWgoeR4Q%3D</string>
	<key>title</key>
	<string>《小学文言启蒙》</string>
</dict>
</plist>
