<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canEdit</key>
	<false/>
	<key>content</key>
	<array>
		<dict>
			<key>contentID</key>
			<integer>2000634</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626771010.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=ROCuu1%2FZo4XxuhUAYiDhUIEJjdI%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>嫦娥</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000628</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626770592.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=Cfwq0IAq2kHcoRackplQxEqJ368%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>蝉</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000622</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626770132.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=cTvxJWE9lGPzfgZqzmPME7mei9o%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>登鹳雀楼</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000618</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626769940.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=ANSNw00zCCS0%2FbmnbhmaAmmTDrA%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>山中</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000614</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626769630.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=MQQcjZdR7HtTcvZhsFQMxJXacpc%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>渔家傲</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000610</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626141087.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=gUYdC373tBFwsk9hRsLmdEJEq4M%3D</string>
			<key>modifyTime</key>
			<string>2021-07-20</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>峨眉山月歌</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000476</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626601384.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=5WVahO7ubpzKXd8Rheg9tIM6438%3D</string>
			<key>modifyTime</key>
			<string>2021-07-18</string>
			<key>playTotal</key>
			<integer>5</integer>
			<key>title</key>
			<string>从军行（其四）</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000474</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626601050.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=%2Bvs1C3V4a4E5qokA8QV4i0gta%2FY%3D</string>
			<key>modifyTime</key>
			<string>2021-07-18</string>
			<key>playTotal</key>
			<integer>1</integer>
			<key>title</key>
			<string>夜书所见</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000369</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626425437.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=lX4WkvMFczy9c8EHEDZaiiERnZ0%3D</string>
			<key>modifyTime</key>
			<string>2021-07-16</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>商山早行</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000367</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626425017.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=NpAPGnkOc8XZikCfwAaB4xrTvo8%3D</string>
			<key>modifyTime</key>
			<string>2021-07-16</string>
			<key>playTotal</key>
			<integer>4</integer>
			<key>title</key>
			<string>枫桥夜泊</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000305</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626340971.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=t2ozD2kWB%2Bfkz4uZLB5C8fVliv4%3D</string>
			<key>modifyTime</key>
			<string>2021-07-15</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>陇西行</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000304</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626340672.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=K3CZIpRoKNtkyoeVQT%2B62msfd8g%3D</string>
			<key>modifyTime</key>
			<string>2021-07-15</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>望天门山</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000245</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626258020.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=FK6x%2F41ysBb9ZmpzONToQxbDkMk%3D</string>
			<key>modifyTime</key>
			<string>2021-07-14</string>
			<key>playTotal</key>
			<integer>2</integer>
			<key>title</key>
			<string>游子吟</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000244</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626257568.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=17T8HnLWa0fvJKrM77wn6a6mQng%3D</string>
			<key>modifyTime</key>
			<string>2021-07-14</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>金缕衣</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000157</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626167460.png?_=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=8O9TiaNJzDJLihojz7LJyd5mslg%3D</string>
			<key>modifyTime</key>
			<string>2021-07-13</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>别董大</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000156</integer>
			<key>cover</key>
			<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626167058.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=8U4yizMAK8EatmzTij%2FD9onFTV0%3D</string>
			<key>modifyTime</key>
			<string>2021-07-13</string>
			<key>playTotal</key>
			<integer>3</integer>
			<key>title</key>
			<string>九月九日忆山东兄弟</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000099</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626141374.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=Au0kIxSVT3FBMqAaeYqyUi8a7s8%3D</string>
			<key>modifyTime</key>
			<string>2021-07-12</string>
			<key>playTotal</key>
			<integer>12</integer>
			<key>title</key>
			<string>登幽州台歌</string>
		</dict>
		<dict>
			<key>contentID</key>
			<integer>2000096</integer>
			<key>cover</key>
			<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626141308.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=0sqjhONohqM4uZ%2BCpc%2FvVrw9cMw%3D</string>
			<key>modifyTime</key>
			<string>2021-07-12</string>
			<key>playTotal</key>
			<integer>4</integer>
			<key>title</key>
			<string>山中问答</string>
		</dict>
	</array>
	<key>cover</key>
	<string>http://_-cn-shanghai.aliyuncs.com/users%2F16627%2Fugc%2F16627_1626141087.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=gUYdC373tBFwsk9hRsLmdEJEq4M%3D</string>
	<key>introduction</key>
	<string>少儿学国学系列，学古诗词并不只是“做功课”，而是“读故事”、“玩游戏”。
精选50首诗词，配合学校教育，丰富课外知识，一起探索古诗词的曼妙和趣味吧！</string>
	<key>netname</key>
	<string>花生</string>
	<key>playTotal</key>
	<integer>55</integer>
	<key>profile_photo</key>
	<string>http://mnc-dictation.oss-cn-shanghai.aliyuncs.com/users%2F16627%2Fphoto%2F16627_1626078713.png?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1626862339&amp;Signature=qYupPFytgsB32eCxbSyQnJJs0DE%3D</string>
	<key>title</key>
	<string>《一周一首古诗词》三年级</string>
</dict>
</plist>
